<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789041151727-7s5rqobcmeid8q1s42eh6a2lr83ija9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789041151727-7s5rqobcmeid8q1s42eh6a2lr83ija9j</string>
	<key>API_KEY</key>
	<string>AIzaSyCjCnAJqK7AE88za5XN7p9mPSlhrRq0I2c</string>
	<key>GCM_SENDER_ID</key>
	<string>789041151727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kananteApp</string>
	<key>PROJECT_ID</key>
	<string>kanante-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kanante-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789041151727:ios:8385262e31862b10cea51a</string>
	<key>DATABASE_URL</key>
	<string>https://kanante-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>